## Pyspark Groupby and Aggregate Functions

In [63]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("agg").getOrCreate()

In [64]:
df_pyspark=spark.read.csv('./Data/test3.csv',header=True,inferSchema=True)

In [65]:
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [66]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [72]:
##Group by
# #Grouped to find the maximum salary

df_pyspark.groupBy('name').max().show()

+---------+-----------+
|     name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [73]:
df_pyspark.groupBy('name').min().show()

+---------+-----------+
|     name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [68]:
##Group by departments which gives maximum salary
df_pyspark.groupBy('Departments').sum()

DataFrame[Departments: string, sum(salary): bigint]

In [69]:
df_pyspark.groupBy('Departments').mean()

DataFrame[Departments: string, avg(salary): double]

In [70]:
#how many people are working in different domains
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [71]:
## Aggregate
df_pyspark.agg({"Salary":"sum"}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+