In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
#Read the dataset
df_pyspark=spark.read.option('header','true').csv('./Data/gld_price_data.csv', inferSchema=True)

In [6]:
#Check the schema
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- SPX: double (nullable = true)
 |-- GLD: double (nullable = true)
 |-- USO: double (nullable = true)
 |-- SLV: double (nullable = true)
 |-- EUR/USD: double (nullable = true)

In [32]:
df_pyspark=spark.read.csv('./Data/gld_price_data.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+-----------+---------+---------+---------+--------+
|     Date|        SPX|      GLD|      USO|      SLV| EUR/USD|
+---------+-----------+---------+---------+---------+--------+
| 1/2/2008|1447.160034|84.860001|78.470001|    15.18|1.471692|
| 1/3/2008|1447.160034|    85.57|78.370003|   15.285|1.474491|
| 1/4/2008|1411.630005|85.129997|77.309998|   15.167|1.475492|
| 1/7/2008|1416.180054|84.769997|     75.5|   15.053|1.468299|
| 1/8/2008|1390.189941|86.779999|76.059998|    15.59|1.557099|
| 1/9/2008|1409.130005|86.550003|    75.25|    15.52|1.466405|
|1/10/2008|1420.329956|    88.25|74.019997|16.061001|  1.4801|
|1/11/2008| 1401.02002|88.580002|73.089996|   16.077|1.479006|
|1/14/2008|    1416.25|89.540001|    74.25|16.280001|  1.4869|
|1/15/2008|1380.949951|87.989998|72.779999|   15.834| 1.48021|
|1/16/2008|1373.199951|86.699997|71.849998|   15.654|1.466405|
|1/17/2008|    1333.25|     86.5|71.029999|   15.717|   1.464|
|1/18/2008|1325.189941|87.419998|71.540001|16.030001|1.461796|
|1/22/2008|     1310.5|88.169998|70.550003|   15.902|1.464794|
|1/23/2008|1338.599976|87.889999|     69.5|     15.9|1.463208|
|1/24/2008|1352.069946|90.080002|    70.93|16.299999| 1.47741|
|1/25/2008|1330.609985|90.300003|71.910004|   16.298|1.467502|
|1/28/2008|1353.959961|    91.75|72.349998|16.549999|1.478809|
|1/29/2008|1362.300049|91.150002|72.980003|   16.534|1.477192|
|1/30/2008|1355.810059|92.059998|73.080002|16.674999|1.483107|
+---------+-----------+---------+---------+---------+--------+
only showing top 20 rows

In [9]:
df_pyspark.printSchema()

root
 |-- Date: string (nullable = true)
 |-- SPX: double (nullable = true)
 |-- GLD: double (nullable = true)
 |-- USO: double (nullable = true)
 |-- SLV: double (nullable = true)
 |-- EUR/USD: double (nullable = true)

In [13]:
df_pyspark.columns

['Date', 'SPX', 'GLD', 'USO', 'SLV', 'EUR/USD']

In [14]:
df_pyspark.head(4)

[Row(Date='1/2/2008', SPX=1447.160034, GLD=84.860001, USO=78.470001, SLV=15.18, EUR/USD=1.471692),
 Row(Date='1/3/2008', SPX=1447.160034, GLD=85.57, USO=78.370003, SLV=15.285, EUR/USD=1.474491),
 Row(Date='1/4/2008', SPX=1411.630005, GLD=85.129997, USO=77.309998, SLV=15.167, EUR/USD=1.475492),
 Row(Date='1/7/2008', SPX=1416.180054, GLD=84.769997, USO=75.5, SLV=15.053, EUR/USD=1.468299)]

In [17]:
df_pyspark.select(['Date','SPX']).show()

+---------+-----------+
|     Date|        SPX|
+---------+-----------+
| 1/2/2008|1447.160034|
| 1/3/2008|1447.160034|
| 1/4/2008|1411.630005|
| 1/7/2008|1416.180054|
| 1/8/2008|1390.189941|
| 1/9/2008|1409.130005|
|1/10/2008|1420.329956|
|1/11/2008| 1401.02002|
|1/14/2008|    1416.25|
|1/15/2008|1380.949951|
|1/16/2008|1373.199951|
|1/17/2008|    1333.25|
|1/18/2008|1325.189941|
|1/22/2008|     1310.5|
|1/23/2008|1338.599976|
|1/24/2008|1352.069946|
|1/25/2008|1330.609985|
|1/28/2008|1353.959961|
|1/29/2008|1362.300049|
|1/30/2008|1355.810059|
+---------+-----------+
only showing top 20 rows

In [19]:
df_pyspark['Date']

Column<'Date'>

In [20]:
df_pyspark.dtypes

[('Date', 'string'),
 ('SPX', 'double'),
 ('GLD', 'double'),
 ('USO', 'double'),
 ('SLV', 'double'),
 ('EUR/USD', 'double')]

In [21]:
df_pyspark.describe().show()

+-------+---------+-----------------+------------------+------------------+-----------------+------------------+
|summary|     Date|              SPX|               GLD|               USO|              SLV|           EUR/USD|
+-------+---------+-----------------+------------------+------------------+-----------------+------------------+
|  count|     2290|             2290|              2290|              2290|             2290|              2290|
|   mean|     NULL|1654.315776431877|122.73287507292564|  31.8422208567685|20.08499658515281|1.2836530519650649|
| stddev|     NULL|519.1115402032956|23.283345747117536|19.523517029775025|7.092566374075404|0.1315472161211381|
|    min|1/10/2008|       676.530029|              70.0|              7.96|             8.85|          1.039047|
|    max| 9/9/2015|      2872.870117|        184.589996|        117.480003|        47.259998|          1.598798|
+-------+---------+-----------------+------------------+------------------+-----------------+------------------+

In [33]:
#Adding columns in data frame
df_pyspark=df_pyspark.withColumn('EUR',df_pyspark['EUR/USD']+4)

In [34]:
df_pyspark.show()

+---------+-----------+---------+---------+---------+--------+------------------+
|     Date|        SPX|      GLD|      USO|      SLV| EUR/USD|               EUR|
+---------+-----------+---------+---------+---------+--------+------------------+
| 1/2/2008|1447.160034|84.860001|78.470001|    15.18|1.471692|          5.471692|
| 1/3/2008|1447.160034|    85.57|78.370003|   15.285|1.474491|          5.474491|
| 1/4/2008|1411.630005|85.129997|77.309998|   15.167|1.475492|          5.475492|
| 1/7/2008|1416.180054|84.769997|     75.5|   15.053|1.468299|          5.468299|
| 1/8/2008|1390.189941|86.779999|76.059998|    15.59|1.557099|          5.557099|
| 1/9/2008|1409.130005|86.550003|    75.25|    15.52|1.466405|          5.466405|
|1/10/2008|1420.329956|    88.25|74.019997|16.061001|  1.4801|            5.4801|
|1/11/2008| 1401.02002|88.580002|73.089996|   16.077|1.479006|          5.479006|
|1/14/2008|    1416.25|89.540001|    74.25|16.280001|  1.4869|            5.4869|
|1/15/2008|1380.949951|87.989998|72.779999|   15.834| 1.48021|           5.48021|
|1/16/2008|1373.199951|86.699997|71.849998|   15.654|1.466405|          5.466405|
|1/17/2008|    1333.25|     86.5|71.029999|   15.717|   1.464|             5.464|
|1/18/2008|1325.189941|87.419998|71.540001|16.030001|1.461796|          5.461796|
|1/22/2008|     1310.5|88.169998|70.550003|   15.902|1.464794|5.4647939999999995|
|1/23/2008|1338.599976|87.889999|     69.5|     15.9|1.463208|          5.463208|
|1/24/2008|1352.069946|90.080002|    70.93|16.299999| 1.47741|           5.47741|
|1/25/2008|1330.609985|90.300003|71.910004|   16.298|1.467502|          5.467502|
|1/28/2008|1353.959961|    91.75|72.349998|16.549999|1.478809|          5.478809|
|1/29/2008|1362.300049|91.150002|72.980003|   16.534|1.477192|5.4771920000000005|
|1/30/2008|1355.810059|92.059998|73.080002|16.674999|1.483107|          5.483107|
+---------+-----------+---------+---------+---------+--------+------------------+
only showing top 20 rows

In [36]:
#Drop the columns
df_pyspark=df_pyspark.drop('EUR')
df_pyspark.show()

+---------+-----------+---------+---------+---------+--------+
|     Date|        SPX|      GLD|      USO|      SLV| EUR/USD|
+---------+-----------+---------+---------+---------+--------+
| 1/2/2008|1447.160034|84.860001|78.470001|    15.18|1.471692|
| 1/3/2008|1447.160034|    85.57|78.370003|   15.285|1.474491|
| 1/4/2008|1411.630005|85.129997|77.309998|   15.167|1.475492|
| 1/7/2008|1416.180054|84.769997|     75.5|   15.053|1.468299|
| 1/8/2008|1390.189941|86.779999|76.059998|    15.59|1.557099|
| 1/9/2008|1409.130005|86.550003|    75.25|    15.52|1.466405|
|1/10/2008|1420.329956|    88.25|74.019997|16.061001|  1.4801|
|1/11/2008| 1401.02002|88.580002|73.089996|   16.077|1.479006|
|1/14/2008|    1416.25|89.540001|    74.25|16.280001|  1.4869|
|1/15/2008|1380.949951|87.989998|72.779999|   15.834| 1.48021|
|1/16/2008|1373.199951|86.699997|71.849998|   15.654|1.466405|
|1/17/2008|    1333.25|     86.5|71.029999|   15.717|   1.464|
|1/18/2008|1325.189941|87.419998|71.540001|16.030001|1.461796|
|1/22/2008|     1310.5|88.169998|70.550003|   15.902|1.464794|
|1/23/2008|1338.599976|87.889999|     69.5|     15.9|1.463208|
|1/24/2008|1352.069946|90.080002|    70.93|16.299999| 1.47741|
|1/25/2008|1330.609985|90.300003|71.910004|   16.298|1.467502|
|1/28/2008|1353.959961|    91.75|72.349998|16.549999|1.478809|
|1/29/2008|1362.300049|91.150002|72.980003|   16.534|1.477192|
|1/30/2008|1355.810059|92.059998|73.080002|16.674999|1.483107|
+---------+-----------+---------+---------+---------+--------+
only showing top 20 rows

In [39]:
df_pyspark=df_pyspark.withColumnRenamed('GLD','Gold')
df_pyspark.show()

+---------+-----------+---------+---------+---------+--------+
|     Date|        SPX|     Gold|      USO|      SLV| EUR/USD|
+---------+-----------+---------+---------+---------+--------+
| 1/2/2008|1447.160034|84.860001|78.470001|    15.18|1.471692|
| 1/3/2008|1447.160034|    85.57|78.370003|   15.285|1.474491|
| 1/4/2008|1411.630005|85.129997|77.309998|   15.167|1.475492|
| 1/7/2008|1416.180054|84.769997|     75.5|   15.053|1.468299|
| 1/8/2008|1390.189941|86.779999|76.059998|    15.59|1.557099|
| 1/9/2008|1409.130005|86.550003|    75.25|    15.52|1.466405|
|1/10/2008|1420.329956|    88.25|74.019997|16.061001|  1.4801|
|1/11/2008| 1401.02002|88.580002|73.089996|   16.077|1.479006|
|1/14/2008|    1416.25|89.540001|    74.25|16.280001|  1.4869|
|1/15/2008|1380.949951|87.989998|72.779999|   15.834| 1.48021|
|1/16/2008|1373.199951|86.699997|71.849998|   15.654|1.466405|
|1/17/2008|    1333.25|     86.5|71.029999|   15.717|   1.464|
|1/18/2008|1325.189941|87.419998|71.540001|16.030001|1.461796|
|1/22/2008|     1310.5|88.169998|70.550003|   15.902|1.464794|
|1/23/2008|1338.599976|87.889999|     69.5|     15.9|1.463208|
|1/24/2008|1352.069946|90.080002|    70.93|16.299999| 1.47741|
|1/25/2008|1330.609985|90.300003|71.910004|   16.298|1.467502|
|1/28/2008|1353.959961|    91.75|72.349998|16.549999|1.478809|
|1/29/2008|1362.300049|91.150002|72.980003|   16.534|1.477192|
|1/30/2008|1355.810059|92.059998|73.080002|16.674999|1.483107|
+---------+-----------+---------+---------+---------+--------+
only showing top 20 rows