## Pyspark Introduction

In [35]:
import pyspark

In [36]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Practise').getOrCreate()

In [37]:
spark

In [38]:
df_pyspark = spark.read.csv('..\pyspark\Data\gld_price_data.csv')

In [39]:
spark.read.option('header','true').csv('..\pyspark\Data\gld_price_data.csv').show()

+---------+-----------+---------+---------+---------+--------+
|     Date|        SPX|      GLD|      USO|      SLV| EUR/USD|
+---------+-----------+---------+---------+---------+--------+
| 1/2/2008|1447.160034|84.860001|78.470001|    15.18|1.471692|
| 1/3/2008|1447.160034|    85.57|78.370003|   15.285|1.474491|
| 1/4/2008|1411.630005|85.129997|77.309998|   15.167|1.475492|
| 1/7/2008|1416.180054|84.769997|     75.5|   15.053|1.468299|
| 1/8/2008|1390.189941|86.779999|76.059998|    15.59|1.557099|
| 1/9/2008|1409.130005|86.550003|    75.25|    15.52|1.466405|
|1/10/2008|1420.329956|    88.25|74.019997|16.061001|  1.4801|
|1/11/2008| 1401.02002|88.580002|73.089996|   16.077|1.479006|
|1/14/2008|    1416.25|89.540001|    74.25|16.280001|  1.4869|
|1/15/2008|1380.949951|87.989998|72.779999|   15.834| 1.48021|
|1/16/2008|1373.199951|86.699997|71.849998|   15.654|1.466405|
|1/17/2008|    1333.25|     86.5|71.029999|   15.717|   1.464|
|1/18/2008|1325.189941|87.419998|71.540001|16.030001|1.461796|
|1/22/2008|     1310.5|88.169998|70.550003|   15.902|1.464794|
|1/23/2008|1338.599976|87.889999|     69.5|     15.9|1.463208|
|1/24/2008|1352.069946|90.080002|    70.93|16.299999| 1.47741|
|1/25/2008|1330.609985|90.300003|71.910004|   16.298|1.467502|
|1/28/2008|1353.959961|    91.75|72.349998|16.549999|1.478809|
|1/29/2008|1362.300049|91.150002|72.980003|   16.534|1.477192|
|1/30/2008|1355.810059|92.059998|73.080002|16.674999|1.483107|
+---------+-----------+---------+---------+---------+--------+
only showing top 20 rows

In [40]:
df_pyspark.head(4)

[Row(_c0='Date', _c1='SPX', _c2='GLD', _c3='USO', _c4='SLV', _c5='EUR/USD'),
 Row(_c0='1/2/2008', _c1='1447.160034', _c2='84.860001', _c3='78.470001', _c4='15.18', _c5='1.471692'),
 Row(_c0='1/3/2008', _c1='1447.160034', _c2='85.57', _c3='78.370003', _c4='15.285', _c5='1.474491'),
 Row(_c0='1/4/2008', _c1='1411.630005', _c2='85.129997', _c3='77.309998', _c4='15.167', _c5='1.475492')]

In [41]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)